@page
@{
}
<ul>
    <li>
        <a asp-controller="Word"
           asp-action="CreateDocument">
            Creating a new document
        </a>
    </li>
    <li>
        <a asp-controller="Word"
           asp-action="CreateComplexDocument">
            Creating a more complex document
        </a>
    </li>
    <li>
        <a asp-controller="Word"
           asp-action="AddTable">
            Tables in documents
        </a>
    </li>
    <li>
        <a asp-controller="Word"
           asp-action="AddList">
            Lists in documents
        </a>
    </li>
    <li>
        <a asp-controller="Word"
           asp-action="OpenEdit">
            Open and Edit a document
        </a>
    </li>
    <li>
        <a asp-controller="Word"
           asp-action="CreateFromTemplate">
            Create new document from a Template
        </a>
    </li>
</ul>