@page
@{
}
<ul>
    <li>
        <a asp-controller="Excel"
           asp-action="CreateSheet">
            Creating a new sheet
        </a>
    </li>
    <li>
        <a asp-controller="Excel"
           asp-action="ListValues">
            Reading values from a sheet
        </a>
    </li>
    <li>
        <a asp-controller="Excel"
           asp-action="InsertChart">
            Inserting a chart in a sheet
        </a>
    </li>
</ul>